@model IEnumerable<Kantoratus.Domain.Initial>

<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>A Fővárosi Protestáns Kántorátus tagjai</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>
                    Az együttesbe az évtizedek során számos irányból érkeztek aktív szolgálattevők. A gyülekezethez kötődő gyakorlott kórusénekesek mellett sokan a Deák Téri Evangélikus Gimnázium valamint a Magyarországi Evangélikus Egyház Kántorképző Intézetének (volt) diákjai. A Liszt Ferenc Zeneművészeti Egyetem egyházzene tanszakának protestáns hallgatói és az Evangélikus Hittudományi Egyetem kántorszakos hallgatói számára gyakorlati helyként is működik az együttes – néhányan közülük a kötelező időszak lejártával is az együttes szolgálói maradtak. A kántorátustagok generációinak névsora minden olyan énekest tartalmaz, aki egynél több alkalommal részt vett a szolgálatban.
                </p>
            </div>
        </div>
    </div>
</section>

<partial name="MembersPartial" />

<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Az együttes örökös tagjai</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 mx-auto">
                    <div class="card-body">
                        <div class="song-details-box">
                            <ul>
                                <li><strong>Béres Márk</strong></li>
                                <li><strong>Ecsedi Klára</strong></li>
                                <li><strong>Mády Katalin</strong></li>
                                <li><strong>Pap Kinga Marjatta</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>