@model IEnumerable<Kantoratus.Domain.Initial>

<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Korál- és genfizsoltár-feldolgozások szerzői</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>
                    A kelenföldi vesperák kezdő- és záróéneke valamint a himnusz helyén többnyire az Evangélikus énekeskönyv és a Gyülekezeti liturgikus könyv koráljai kapnak helyet – ezzel is segítve a gyülekezet aktív bekapcsolódását. A zsoltározás recitált formája mellett kezdettől jelen vannak a genfi zsoltárok. Az általában alternatim módon énekelt korál- és genfizsoltár-feldolgozások szerzőit jegyzékszerűen közöljük.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="songs-details-section">
    <div class="card-columns">
        @foreach (var initial in Model)
        {
            <div class="card border-0 mx-auto">
                <div class="card-body">
                    <div class="song-details-box">
                        <h3>@initial.Letter</h3>
                        <ul>
                            @foreach (var composer in initial.Composers)
                            {
                                <li><strong>@composer.Name</strong></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</section>