@model IEnumerable<Kantoratus.Domain.PlayList>

<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Hangzóanyag</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>A 25 év során elhangzott zenei anyag szerény lenyomataként három lejátszási listát ajánlunk figyelmükbe.</p>
            </div>
        </div>
    </div>
</section>

<partial name="PlayListsPartial" />