<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-warp">
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v9.0" nonce="4urMjK19"></script>
                    <div class="fb-page"
                         data-href="https://www.facebook.com/F%C5%91v%C3%A1rosi-Protest%C3%A1ns-K%C3%A1ntor%C3%A1tus-2489253114423466"
                         data-tabs="events"
                         data-width=""
                         data-height=""
                         data-small-header="false"
                         data-adapt-container-width="true"
                         data-hide-cover="false"
                         data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/F%C5%91v%C3%A1rosi-Protest%C3%A1ns-K%C3%A1ntor%C3%A1tus-2489253114423466" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/F%C5%91v%C3%A1rosi-Protest%C3%A1ns-K%C3%A1ntor%C3%A1tus-2489253114423466">Fővárosi Protestáns Kántorátus</a>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-warp">
                    <div class="section-title mb-0">
                        <h2>Elérhetőség</h2>
                    </div>
                    <p>
                        A Fővárosi Protestáns Kántorátus együttese a tanév minden vasárnapján 18 órakor többszólamú tételekkel díszített vesperát énekel a kelenföldi evangélikus templomban (XI. Bocskai út 10.). Minden érdeklődőt szeretettel várunk!
                        <br />
                        Szolgálati beosztás a gyülekezet <a href="https://kelenfold.lutheran.hu/alkalmaink/istentiszteletek/" target="_blank">honlapján</a>.
                    </p>
                    <p>
                        Az együttes folyamatosan várja az egyházi szolgálat iránt elkötelezett, jó hangú, biztos kottaolvasó énekesek jelentkezését vegyeskari felállás minden szólamába.
                        A kántorátus vezetője Pap Kinga Marjatta.
                    </p>
                    <ul>
                        <li>
                            <a href="https://kelenfold.lutheran.hu/alkalmaink/istentiszteletek/ " target="_blank">
                                <i class="fas fa-church"></i>
                                Kelenföldi evangélikus templom
                            </a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/jzJLsYypFnTfvR8A6" target="_blank">
                                <i class="fas fa-map-marked-alt"></i>
                                Budapest XI. Bocskai út 10.
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-user"></i>
                            Pap Kinga Marjatta
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/jzJLsYypFnTfvR8A6">
                                <script TYPE="text/javascript">
                                    emailE = 'gmail.com';
                                    emailE = ('kuninga' + '@@' + emailE);
                                    document.write('<A href="mailto:' +
                                        emailE +
                                        '"><i class="fas fa-envelope"></i> ' +
                                        emailE +
                                        '</a>');
                                </script>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/F%C5%91v%C3%A1rosi-Protest%C3%A1ns-K%C3%A1ntor%C3%A1tus-2489253114423466" target="_blank">
                                <i class="fas fa-thumbs-up"></i>
                                Fővárosi Protestáns Kántorátus
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>