@model IEnumerable<Kantoratus.Domain.Initial>

<section class="songs-details-section">
    <div class="card-columns">
        @foreach (var initial in Model)
        {
            <div class="card border-0 mx-auto">
                <div class="card-body">
                    <div class="song-details-box">
                        <h3>@initial.Letter</h3>
                        @foreach (var composer in initial.Categories)
                        {
                            <strong>@composer.Name</strong>
                            <ul>
                                @foreach (var piece in composer.Items)
                                {
                                    <li>
                                        @piece
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>